{% extends "layout.html" %}
{% block content %}
	{% for p in posts %}
	<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ p.author }}</a>
              <small class="text-muted">{{ p.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ p.title }}</a></h2>
            <p class="article-content">{{ p.content }}</p>
        </div>
    </article>

	{% endfor %}
{% endblock content %}